<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="connection.url">jdbc:sqlite:./database.db</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.username" />
        <property name="connection.password" />
        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">create-drop</property>

        <mapping class="cz.carsharing.entities.Car" />
        <mapping class="cz.carsharing.entities.Truck" />
        <mapping class="cz.carsharing.entities.Vehicle" />
        <mapping class="cz.carsharing.entities.User" />
        <mapping class="cz.carsharing.entities.Department" />
        <mapping class="cz.carsharing.entities.Company" />
        <mapping class="cz.carsharing.entities.State" />
    </session-factory>
</hibernate-configuration>